//@import url(https://fonts.googleapis.com/css?family=Russo+One&subset); 

@font-face {
  font-family: Candara;
  src: url(../fonts/Candara.ttf); 
}

@font-face {
  font-family: Franklin Gothic Medium;
  src: url(../fonts/franklin-gothic-medium-italic.ttf) ; 
}

@font-face {
  font-family: Russo One;
  src: url(../fonts/russo_one_regular.ttf) ; 
}